<html lang="en">

<nav>
    <ul>
        <li><a href="#introduction">Introduction</a></li>
        <li><a href="#motivation">Motivation</a></li>
        <li class="dropdown">
            <a>Plots & Charts</a>
            <div class="dropdown-content">
                <a href="#top-10-calls">Top 10 Call Situations in 2022</a>
                <a href="#distribution-calls">Distribution of Calls Situations in Different Neighborhoods</a>
                <a href="#busiest-fire-departments">When Are Fire Departments the Busiest?</a>
                <a href="#arrival-time">Average response time for each neighborhood in 2022</a>
            </div>
        </li>
        <li><a href="#conclusion">Conclusion</a></li>
        <li><a href="#explainer-notebook">Explainer Notebook</a></li>
    </ul>
</nav>

<header class="header" style="background-image: url(https://img.apmcdn.org/4254a7dd3f22c25c083dafcf67131468436318ef/widescreen/1daf7d-20200819-california-wildfires.jpg?downsize=1600:*&output-format=auto&output-quality=auto);">
        <div class="header-content">
        <h1 class="header-title">Fires in San Francisco</h1>
        <p class="header-subtitle">With data analysis</p>
    </div>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/final-proj-style.css">

</header>


<body>
<section id="introduction">
    <div class="body-content">
        <div>
        <h1>Introduction</h1>
            <p>
               Welcome to our article exploring fire incidents in San Francisco. This publication offers a thorough analysis, comprehensive reports,
               and captivating visuals to enhance your understanding of the origins, consequences, and measures taken in response to fires in the city.
               We have collected and scrutinized data regarding fire incidents, 
               fire safety protocols, and the fire department's response times.
               Our goal is to provide a detailed examination of the challenges the San Francisco Fire Department faces in its endeavor to protect the city. 
               Join us as we investigate the history of fires in San Francisco, the affected people and communities, 
               and the innovative strategies employed to prevent and combat fires in this dynamic city.
                <br><br>
                San Francisco, a fully urbanized city in California, has a population of 881,363 people. Initially,
                we sought a suitable dataset that was sufficiently large and contained the necessary information to address our questions.<br>
                <br>
                Fire incidents can profoundly affect individuals and communities, impacting immediate safety and long-term well-being.
                The severity and location of a fire can lead to residents being displaced, losing possessions,
                and experiencing physical injuries or emotional trauma. Moreover, 
                the consequences of fire incidents extend beyond those directly affected,affecting the broader community through property damage,
                disruptions to transportation and services, and rising insurance premiums.
                <br>
                <br>Analyzing the Fire Incidents dataset for San Francisco allows us to uncover valuable insights into the 
                patterns and trends of fire occurrences across various neighborhoods and over time.
                This analysis enables us to create data-driven strategies aimed at reducing fire incidences and lessening their effects on the community.
            </p>
        </div>
        <div class="introduction_image">
            <img src="https://images.mansionglobal.com/im-627483?width=1280&size=1.33333333">
        </div>
    </div>
    </section>

    <section id="motivation">
        <div class="wrapper">
        <div class="body-content">
            <iframe class="youtube" src="https://youtu.be/1ciC5XrFLKA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div>
            <h1>Motivation</h1>

            <h4>In our quest for answers, we discovered a dataset on fire incidents in San Francisco.</h4>
    
            <p>
            <br>Fire departments play a crucial role in every community, responding to a range of emergencies including fires, 
             medical situations, and natural disasters. Their primary responsibility is to safeguard lives and property by
             preventing and mitigating the effects of fires and other hazards. In San Francisco, the fire department handles 
             thousands of emergency calls annually, dealing with everything from minor incidents to major fires and disasters.<br>
    
            To understand these incidents and their distribution across the city, 
            we analyzed a comprehensive dataset of Fire Incidents in San Francisco.<br>
            <br> 
            One of the most crucial pieces of information we uncovered was the primary reason for 911 calls,
            offering insight into the most frequent emergencies that necessitate a response from the fire department.<br>
            We also analyzed various types of call situations, including fires, 
            medical emergencies, and alarm calls, and their distribution across different neighborhoods in the city.
            By mapping these incidents, we identified hotspots where emergencies occurred most frequently and observed 
            how the emergency response needs varied from one neighborhood to another.

            </p>
            </div>
        </div>
        </div>
    </section>

<section id="fire-battalions">
    <div>
        <div class="body-content">
            <div>
                <h2>Fire battalions in San Francisco</h2>
            <p>

                Battalions are geographic divisions within the coverage area of the San Francisco Fire Department. 
                Each battalion, consisting of several fire stations and firefighting personnel,
                is tasked with responding to emergency calls within its designated region. 
                San Francisco is divided into 10 battalions, each identified by a unique code that begins with the letter 'B' followed by a two-digit number.
                <br>
                <br>
                The plot displays the total number of calls for all 10 Battalions in San Francisco,
                categorized by year. It reveals a gradual increase in the number of calls over the years, 
                with 2022 recording the highest number of calls to date.
                <br>
                <br>
                To gain a deeper understanding of the data, we can concentrate on the year 2022,
                which recorded the highest number of calls. This information is vital for the fire
                department to effectively allocate resources and enhance preparedness for emergencies. 
                It may also suggest a need for increased community education and awareness campaigns to prevent emergencies before they occur.
            </p>
        </div>

            <div>
                <img class="battalion_plot" src="{{ site.baseurl }}/assets/Battalions.png" >
            </div>
        </div>
    </div>
</section>

<section id="top-10-calls">
    <div class="wrapper">
        <div class="big_plots">
        <div>
            <h2>Top 10 call situations in 2022</h2>
        <p>
            To better understand how call situations are distributed in San Francisco, 
            we created a Bokeh plot that illustrates the top 10 call situations in the city for 2022.
            This plot details the number of incidents for each call situation and emphasizes the most frequent ones,
            helping us identify which types of emergencies demand the most resources and attention from the fire department.
        <br>

        <br>
           The Bokeh plot offers insights into the most common call situations across different neighborhoods, 
            enabling the fire department to better allocate resources and strategize their emergency responses.
            For instance, the plot indicates that alarm system activations are the most frequent call situations in many neighborhoods.
            This may highlight the necessity for the fire department to focus on ensuring alarms are functioning properly and are not being falsely triggered.
            It also suggests the potential need for education and awareness campaigns aimed at residents and businesses
            to prevent false alarms and promote the correct use of alarm systems. Moreover, 
            the fire department might consider investigating the causes of false alarms and implementing strategies to reduce their occurrence.
        <br>
        </p>
        </div>
        <iframe src="{{ site.baseurl }}/assets/Plots_and_diagrams_for_final/bokeh_Situation_pr_neighborhood.html" class="bokeh"></iframe>
        </div>
    </div>
</section>

<section id="distribution-calls">
    <div class="big_plots">

        <h2> How are call situations distributed across different neighborhoods?</h2>
        <p>
            Understanding how fire calls are distributed across San Francisco is essential for safeguarding the safety of its residents.<br><br>
            To enhance our understanding of the fire call situation, we developed a map that illustrates the distribution of
            four distinct types of fire calls across the city: 
            False Alarm/Call, Outside Rubbish Fire, Cooking Fire, and Building Fire..<br><br>
            I chose four distinct categories of fire calls to gain a deeper insight 
            into how fire incidents are distributed across neighborhoods in San Francisco.
            Among these categories, three represent genuine fire incidents, whereas one pertains to false alarms. 
            Intriguingly, despite being a false alarm, it had the highest occurrence rate among them.<br>
            The map relies on data gathered throughout December 2022. 
            This choice was deliberate to ensure a straightforward and focused depiction of the data, 
            reducing the cognitive load of processing excessive information.<br><br>
            The map displays all the fire stations within the city, 
            accompanied by color-coded markers indicating the four types of fire calls. 
            Additionally, the various neighborhoods in San Francisco are highlighted on the map. 
            This enables us to visually assess the prevalence of each type of fire call
            and pinpoint areas that may require heightened focus on fire prevention.
            <br><br>
            Analyzing the distribution of various fire call types provides valuable insights for
            crafting tailored strategies in fire prevention and emergency response.
            Ultimately, these efforts aim to enhance overall safety for all residents within the city.
            <br><br><br>
            Hovering over the map's different neighborhoods will reveal their names,
            just like the four different types of calls. The green points on the map denote the 
            locations of fire stations in the vicinity, 
            and clicking on them will provide additional information about each station.
        </p>
        <iframe class="map" src="{{ site.baseurl }}/assets/Plots_and_diagrams_for_final/Situation_map.html" width="90%" height="700"></iframe>
        <p id="chart 3">
    </div>
</section>

<section id="arrival-time">
<div class="wrapper">
    <div class="body-content">
        <div>
            <h2>Average arrival time for each neighborhood in 2022</h2>
            <p>
            In addition to identifying the most common types of fire
            calls in San Francisco, it's also important to consider
            how quickly the fire department is able to respond to these emergencies.<br><br>
            That's why we've created a plot that shows the average response time for
            four different types of calls in various neighborhoods throughout the city.
            <br><br>
            The four types of calls we're
            focusing on are Outside Rubbish Fire,
            False Alarm/Call, Cooking Fire, and 'Building Fire.
            By analyzing the response times for these calls,
            we can get a better understanding of how well-equipped
            the fire department is to handle different types of
            emergencies in different neighborhoods.
            <br><br>
            As expected, the average response times vary
            significantly depending on the type of call and the neighborhood in question. 
            For example, the average response time in 12/2022
            for Noe valley neighborhood is only 3 minutes and 25 seconds,
            whereas the average response time for  Golden Gate Park neighborhood is 6 minutes and 40 seconds.
            <br><br><br>
            But what does delay at response times means?
            <br><br>
            Average response times are an important metric for
            emergency services such as fire departments because
            they directly impact the outcomes of emergency incidents.
            In the case of fires, every minute of delay in response time
            can mean the difference between life and death, as well as significant property damage.
            <br><br>
            For example, a delay of just a few minutes can cause a small
            fire to grow into a large blaze, making it more difficult and
            dangerous for firefighters to contain. In addition, every minute spent
            responding to a false alarm or non-emergency incident is time taken away 
            from potentially life-saving emergencies.
            <br><br>
            By comparing the response times across different neighborhoods,
            we can identify areas where the fire department may need to allocate
            more resources or adjust their response strategies. Additionally,
            we can use this data to better understand the relationship between
            call type, neighborhood, and response time.
            <br><br>
            This plot works hand in hand with the map we previously created,
            which shows the distribution of these call types across different
            neighborhoods in San Francisco. By combining these two visualizations,
            we can gain a more comprehensive understanding of how the fire department
            is handling emergencies throughout the city.
            <br>
            For example we can conclude from the map and the plot the there
            is a need for fire station in Golden Gate Park especially at the
            corner for the border between Inner Richmond and Haight Ashbury.

            </p>
        </div>
            <div>
            <iframe class="plot-for-neighborhood"src="{{ site.baseurl }}/assets/Plots_and_diagrams_for_final/plot_for_neighborhood.html"></iframe>
            </div>
    </div>
</div>
</section>

<section id="busiest-fire-departments">
        <div class="body-content">
            <div>
                <h2>When Are Fire Departments the Busiest?</h2>
            <p>
                We have analyzed the hourly counts of fire incidents calls
                received by the fire department. <br>The data clearly shows that
                the majority of fire incidents occur during the day, with the 
                highest number of calls received between 9:00 to 21:00. Specifically,
                there is a peak in fire calls between 17:00 to 19:00, indicating that
                this is a particularly busy time for the fire department.<br><br>
                On the other hand, we can see that the lowest count of calls
                occurs between 3:00 to 6:00. This is likely due to the fact
                that people are sleeping during these hours, and there are
                fewer activities that could potentially cause fires.<br><br>
                Based on these observations, we can conclude that the fire department should focus their
                resources and efforts during the busiest hours of the day.<br><br>
                By doing so, they can better serve the community and ensure 
                that they are able to respond to emergency calls as quickly as possible.
            </p>
                </div>
            <div class="imagehourly">
                <img  src="{{ site.baseurl }}/assets/img/hourly-count.png" >
            </div>
        </div>
</section>

        <div class="wrapper">
            <div class="body-content">
                <section id="conclusion">
                <div class="conclusion">

                <h1>Conlcusion</h1>

                <p>
                    We have analyzed the hourly counts of fire incidents calls
                    received by the fire department. <br>The data clearly shows that
                    the majority of fire incidents occur during the day, with the
                    highest number of calls received between 9:00 to 21:00. Specifically,
                    there is a peak in fire calls between 17:00 to 19:00, indicating that
                    this is a particularly busy time for the fire department.<br><br>
                    On the other hand, we can see that the lowest count of calls
                    occurs between 3:00 to 6:00. This is likely due to the fact
                    that people are sleeping during these hours, and there are
                    fewer activities that could potentially cause fires.<br><br>
                    Based on these observations, we can conclude that the fire department should focus their
                    resources and efforts during the busiest hours of the day.<br><br>
                    By doing so, they can better serve the community and ensure
                    that they are able to respond to emergency calls as quickly as possible.
                </p>
                </div>
                </section>
                <section id="explainer-notebook">
                <div class="explainer">
                    <h1>Explainer Notebook</h1>

                    <p>
                    We provide the GitHub link to our explainer notebook for reference, which is accessible
                    <a href="https://github.com/Strongside-87/Final_Project/blob/master/explainer/explainer_notebook.ipynb" style="color: rgb(40, 101, 180)">here</a>
                    or <a href="https://github.com/salim963/Salim963.github.io/blob/main/Explainer_notebook_Fire_Incidents/explainer/explainer_notebook.ipynb" style="color: red">here</a>.
                    
                    </p>
                </div>
                </section>
            </div>
        </div>



</div>



</body>


    <footer class="footer">
    <div class="footer-content">
        <a href="https://github.com/salim963/Salim963.github.io/blob/main/Explainer_notebook_Fire_Incidents"><img src="{{ site.baseurl }}/assets/img/Github.png"
                alt="GitHub Icon"></a>
        <p class="footer-text">This site has been created as part of the course Social data analysis and visualization
            (02806) offered by the Technical University of Denmark.</p>
    </div>
    </footer>


</html>
