<html lang="en">

<nav>
    <ul>
        <li><a href="#introduction">Introduction</a></li>
        <li><a href="#motivation">Motivation</a></li>
        <li class="dropdown">
            <a>Plots & Charts</a>
            <div class="dropdown-content">
                <a href="#top-10-calls">Top 10 Call Situations in 2022</a>
                <a href="#distribution-calls">Distribution of Calls Situations in Different Neighborhoods</a>
                <a href="#busiest-fire-departments">When Are Fire Departments the Busiest?</a>
                <a href="#arrival-time">Average response time for each neighborhood in 2022</a>
            </div>
        </li>
        <li><a href="#conclusion">Conclusion</a></li>
        <li><a href="#explainer-notebook">Explainer Notebook</a></li>
    </ul>
</nav>

<header class="header" style="background-image: url(https://img.apmcdn.org/4254a7dd3f22c25c083dafcf67131468436318ef/widescreen/1daf7d-20200819-california-wildfires.jpg?downsize=1600:*&output-format=auto&output-quality=auto);">
        <div class="header-content">
        <h1 class="header-title">Fires in San Francisco</h1>
        <p class="header-subtitle">With data analysis</p>
    </div>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/final-proj-style.css">

</header>


<body>
<section id="introduction">
    <div class="body-content">
        <div>
        <h1>Introduction</h1>
            <p>
               Welcome to our article exploring fire incidents in San Francisco. This publication offers a thorough analysis, comprehensive reports,
               and captivating visuals to enhance your understanding of the origins, consequences, and measures taken in response to fires in the city.
               We have collected and scrutinized data regarding fire incidents, 
               fire safety protocols, and the fire department's response times.
               Our goal is to provide a detailed examination of the challenges the San Francisco Fire Department faces in its endeavor to protect the city. 
               Join us as we investigate the history of fires in San Francisco, the affected people and communities, 
               and the innovative strategies employed to prevent and combat fires in this dynamic city.
                <br><br>
                San Francisco, a fully urbanized city in California, has a population of 881,363 people. Initially,
                we sought a suitable dataset that was sufficiently large and contained the necessary information to address our questions.<br>
                <br>
                Fire incidents can profoundly affect individuals and communities, impacting immediate safety and long-term well-being.
                The severity and location of a fire can lead to residents being displaced, losing possessions,
                and experiencing physical injuries or emotional trauma. Moreover, 
                the consequences of fire incidents extend beyond those directly affected,affecting the broader community through property damage,
                disruptions to transportation and services, and rising insurance premiums.
                <br>
                <br>Analyzing the Fire Incidents dataset for San Francisco allows us to uncover valuable insights into the 
                patterns and trends of fire occurrences across various neighborhoods and over time.
                This analysis enables us to create data-driven strategies aimed at reducing fire incidences and lessening their effects on the community.
            </p>
        </div>
        <div class="introduction_image">
            <img src="https://images.mansionglobal.com/im-627483?width=1280&size=1.33333333">
        </div>
    </div>
    </section>

    <section id="motivation">
        <div class="wrapper">
        <div class="body-content">
            <div>
            <h1>Motivation</h1>

            <h4>In our quest for answers, we discovered a dataset on fire incidents in San Francisco.</h4>
    
            <p>
            <br>Fire departments play a crucial role in every community, responding to a range of emergencies including fires, 
             medical situations, and natural disasters. Their primary responsibility is to safeguard lives and property by
             preventing and mitigating the effects of fires and other hazards. In San Francisco, the fire department handles 
             thousands of emergency calls annually, dealing with everything from minor incidents to major fires and disasters.<br>
    
            To understand these incidents and their distribution across the city, 
            we analyzed a comprehensive dataset of Fire Incidents in San Francisco.<br>
            <br> 
            One of the most crucial pieces of information we uncovered was the primary reason for 911 calls,
            offering insight into the most frequent emergencies that necessitate a response from the fire department.<br>
            We also analyzed various types of call situations, including fires, 
            medical emergencies, and alarm calls, and their distribution across different neighborhoods in the city.
            By mapping these incidents, we identified hotspots where emergencies occurred most frequently and observed 
            how the emergency response needs varied from one neighborhood to another.

            </p>
            </div>
        </div>
        </div>
    </section>

<section id="fire-battalions">
    <div>
        <div class="body-content">
            <div>
                <h2>Fire battalions in San Francisco</h2>
            <p>

                Battalions are geographic divisions within the coverage area of the San Francisco Fire Department. 
                Each battalion, consisting of several fire stations and firefighting personnel,
                is tasked with responding to emergency calls within its designated region. 
                San Francisco is divided into 10 battalions, each identified by a unique code that begins with the letter 'B' followed by a two-digit number.
                <br>
                <br>
                The plot displays the total number of calls for all 10 Battalions in San Francisco,
                categorized by year. It reveals a gradual increase in the number of calls over the years, 
                with 2022 recording the highest number of calls to date.
                <br>
                <br>
                To gain a deeper understanding of the data, we can concentrate on the year 2022,
                which recorded the highest number of calls. This information is vital for the fire
                department to effectively allocate resources and enhance preparedness for emergencies. 
                It may also suggest a need for increased community education and awareness campaigns to prevent emergencies before they occur.
            </p>
        </div>

            <div>
                <img class="battalion_plot" src="{{ site.baseurl }}/assets/Battalions.png" >
            </div>
        </div>
    </div>
</section>

<section id="top-10-calls">
    <div class="wrapper">
        <div class="big_plots">
        <div>
            <h2>Top 10 call situations in 2022</h2>
        <p>
            To better understand how call situations are distributed in San Francisco, 
            we created a Bokeh plot that illustrates the top 10 call situations in the city for 2022.
            This plot details the number of incidents for each call situation and emphasizes the most frequent ones,
            helping us identify which types of emergencies demand the most resources and attention from the fire department.
        <br>

        <br>
           The Bokeh plot offers insights into the most common call situations across different neighborhoods, 
            enabling the fire department to better allocate resources and strategize their emergency responses.
            For instance, the plot indicates that alarm system activations are the most frequent call situations in many neighborhoods.
            This may highlight the necessity for the fire department to focus on ensuring alarms are functioning properly and are not being falsely triggered.
            It also suggests the potential need for education and awareness campaigns aimed at residents and businesses
            to prevent false alarms and promote the correct use of alarm systems. Moreover, 
            the fire department might consider investigating the causes of false alarms and implementing strategies to reduce their occurrence.
        <br>
        </p>
        </div>
        <iframe src="{{ site.baseurl }}/assets/Plots_and_diagrams_for_final/bokeh_Situation_pr_neighborhood.html" class="bokeh"></iframe>
        </div>
    </div>
</section>

<section id="distribution-calls">
    <div class="big_plots">

        <h2> How are call situations distributed across different neighborhoods?</h2>
        <p>
            Understanding how fire calls are distributed across San Francisco is essential for safeguarding the safety of its residents.<br><br>
            To enhance our understanding of the fire call situation, we developed a map that illustrates the distribution of
            four distinct types of fire calls across the city: 
            False Alarm/Call, Outside Rubbish Fire, Cooking Fire, and Building Fire.<br><br>
            I chose four distinct categories of fire calls to gain a deeper insight 
            into how fire incidents are distributed across neighborhoods in San Francisco.
            Among these categories, three represent genuine fire incidents, whereas one pertains to false alarms. 
            Intriguingly, despite being a false alarm, it had the highest occurrence rate among them.<br>
            The map relies on data gathered throughout December 2022. 
            This choice was deliberate to ensure a straightforward and focused depiction of the data, 
            reducing the cognitive load of processing excessive information.<br><br>
            The map displays all the fire stations within the city, 
            accompanied by color-coded markers indicating the four types of fire calls. 
            Additionally, the various neighborhoods in San Francisco are highlighted on the map. 
            This enables us to visually assess the prevalence of each type of fire call
            and pinpoint areas that may require heightened focus on fire prevention.
            <br><br>
            Analyzing the distribution of various fire call types provides valuable insights for
            crafting tailored strategies in fire prevention and emergency response.
            Ultimately, these efforts aim to enhance overall safety for all residents within the city.
            <br><br><br>
            Hovering over the map's different neighborhoods will reveal their names,
            just like the four different types of calls. The green points on the map denote the 
            locations of fire stations in the vicinity, 
            and clicking on them will provide additional information about each station.
        </p>
        <iframe class="map" src="{{ site.baseurl }}/assets/Plots_and_diagrams_for_final/Situation_map.html" width="90%" height="700"></iframe>
        <p id="chart 3">
    </div>
</section>

<section id="arrival-time">
<div class="wrapper">
    <div class="body-content">
        <div>
            <h2>The average response time for each neighborhood in 2022.</h2>
            <p>
            Besides pinpointing the most frequent types of fire calls in San Francisco, 
            it's crucial to assess the fire department's response time to these emergencies.<br><br>
            That’s why we’ve developed a plot illustrating the average response time
            for four different types of calls across various neighborhoods throughout the city.
            <br><br>
            We're concentrating on four types of calls: Outside Rubbish Fire,
             False Alarm/Call, Cooking Fire, and 'Building Fire. 
            Examining the response times for these calls allows us to gain insight 
            into the fire department's preparedness to manage 
            various emergencies across different neighborhoods.
            <br><br>
            As anticipated, the average response times vary considerably based on the type of 
            call and the specific neighborhood. For instance, in December 2022, the average 
            response time for the Noe Valley neighborhood is only 3 minutes and 25 seconds, 
            while for the Golden Gate Park neighborhood, it is 6 minutes and 40 seconds.
            <br><br><br>
            But what does delay at response times means?
            <br><br>
            Average response times serve as a critical metric for emergency services like fire 
            departments since they directly influence the outcomes of emergency incidents.
            In the context of fires, even a minute's delay in response time can potentially
            determine the disparity between life and death, as well as result in substantial property damage.
            <br><br>
            Consider this scenario: a mere few minutes of delay can escalate a minor fire into a major blaze,
            rendering it increasingly challenging and perilous for firefighters to control. 
            Furthermore, each minute allocated to responding to a false alarm or non-emergency 
            situation detracts from addressing potentially life-threatening emergencies.
            <br><br>
            Through comparing response times across various neighborhoods, 
            we can pinpoint areas where the fire department might require additional resources or
            need to adapt their response strategies. Furthermore, this data enables us to enhance our
            comprehension of the correlation between call type, neighborhood, and response time.
            <br><br>
            This plot complements the map we previously generated,
            illustrating the distribution of these call types across various neighborhoods in San Francisco.
            By merging these two visualizations, we can attain a more holistic understanding
            of the fire department's management of emergencies across the city.
            <br>
            From both the map and the plot, it's apparent that there's a demand for
            a fire station in Golden Gate Park, particularly at the border between Inner Richmond and Haight Ashbury.

            </p>
        </div>
            <div>
            <iframe class="plot-for-neighborhood"src="{{ site.baseurl }}/assets/Plots_and_diagrams_for_final/plot_for_neighborhood.html"></iframe>
            </div>
    </div>
</div>
</section>

<section id="busiest-fire-departments">
        <div class="body-content">
            <div>
                <h2>At what times are fire departments typically the busiest?</h2>
            <p>
                We've examined the hourly counts of fire incident calls received by the fire department.
                The data distinctly indicates that the majority of fire incidents happen during the day,
                with the highest volume of calls received between 9:00 to 21:00. Notably, 
                there's a peak in fire calls between 17:00 to 19:00, signifying this as a notably busy period for the fire department.<br><br>
                Conversely, we observe that the lowest count of calls transpires between 3:00 to 6:00. 
                This can be attributed to the fact that people are typically asleep during these hours,
                resulting in fewer activities that might lead to fires.<br><br>
                From these observations, it's evident that the fire department should concentrate
                its resources and efforts during the busiest hours of the day.<br><br>
                In doing so, they can enhance their service to the community and ensure swift responses to emergency calls.
            </p>
                </div>
            <div class="imagehourly">
                <img  src="{{ site.baseurl }}/assets/hourly-count.png" >
            </div>
        </div>
</section>

        <div class="wrapper">
            <div class="body-content">
                <section id="conclusion">
                <div class="conclusion">

                <h1>Conlcusion</h1>

                <p>
                    We've examined the hourly counts of fire incident calls received by the fire department.
                    The data vividly illustrates that most fire incidents occur during the day,
                    with the highest volume of calls received between 9:00 to 21:00. In particular,
                    there's a notable peak in fire calls between 17:00 to 19:00, signaling this as
                    a particularly bustling period for the fire department.<br><br>
                    Conversely, we observe that the lowest count of calls occurs between 3:00 to 6:00.
                    This is likely due to people being asleep during these hours, resulting in fewer 
                    activities that could potentially cause fires.<br><br>
                    Based on these observations, it's clear that the fire department should allocate their
                    resources and efforts during the busiest hours of the day.<br><br>
                    In doing so, they can effectively serve the community and ensure prompt responses to emergency calls.
                </p>
                </div>
                </section>
                <section id="explainer-notebook">
                <div class="explainer">
                    <h1>Explainer Notebook</h1>

                    <p>
                    We offer the GitHub link to our explainer notebook for reference, available
                    <a href="https://github.com/alijawesh/alijawesh.github.io/blob/main/Explainer_notebook/explainer_notebook.ipynb" style="color: rgb(40, 101, 180)">here</a>
                    
                    </p>
                </div>
                </section>
            </div>
        </div>



</div>



</body>


    <footer class="footer">
    <div class="footer-content">
        <a href="https://github.com/alijawesh/alijawesh.github.io/tree/main/Explainer_notebook"><img src="{{ site.baseurl }}/assets/Github.png"
                alt="GitHub Icon"></a>
        <p class="footer-text">(02806) Social data analysis and visualization 2024 </p>
    </div>
    </footer>


</html>
